<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tixon.reminders"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To request foreground location access, declare one of these permissions. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Required only when requesting background location access on Android 10 (API level 29). -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reminders">
        <activity
            android:name=".screen_reminders_list.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screen_reminders_list.MapActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <service android:name=".service.LocationService"
            android:foregroundServiceType="location"
            android:enabled="true" />

        <!-- https://developers.google.com/maps/documentation/android-sdk/get-api-key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>